.TodoWrapper{
    display: flex;
    flex-direction: column;
    width: 600px;
    opacity: .6;
    height: fit-content;
    text-align: center;
    align-items: center;
    background-color: transparent;
    opacity: 90;
    box-shadow:  0 0 10px #000;
    margin-top: 250px;
    margin-bottom: 100px;
    border-radius: 20px;
    & h1{
        color:aliceblue;
        font-size: 2rem;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 50px;
        text-shadow: 0 0 3px goldenrod;
    }
}